.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: $white;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}

.button--white {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-color: $background-team;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $white;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  @media screen and(min-width:768px) {
    justify-content: center;
  }
}

.buttons__item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }

  @media screen and(min-width:768px) {
    margin-bottom: 0;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  @media screen and(min-width:768px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
