$title-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$white: #ffffff;
$black: #000000;
$backgroud-gray: #2f303a;
$background-main-color: #e5e5e5;
$background-team: #f5f4fa;
$contacts-color: rgba(255, 255, 255, 0.6);
$icon-fill: #afb1b8;
