.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 90px 15px;

  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}
.modal {
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  background-color: $white;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  top: 101px;
  right: 23px;
  @media screen and(min-width:768px) {
    top: 8px;
    right: 8px;
  }
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
