.clients__item {
  margin-right: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  width: calc((100% - 30px) / 2);
  & .clients__link:hover,
  & .clients__link:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
  @media screen and(max-width:767px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media screen and(min-width:768px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media screen and(min-width:1200px) {
    width: calc((100% - 30px * 5) / 6);
    margin-bottom: 0;
    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 90px;
  border-radius: 4px;
  border: 1px solid $icon-fill;
  fill: $icon-fill;
  padding: 0;
  margin: 0;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .list {
  display: flex;
  flex-wrap: wrap;
}
