.features__subtitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
  @media screen and(min-width:768px) {
    text-align: left;
  }
}
.features__paragraph {
  line-height: 1.7;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 0;
}
.features__item {
  margin-bottom: 30px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
  @media screen and(min-width:768px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and(min-width:1200px) {
    width: calc((100% - 90px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-team;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}
